/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

<<<<<<< HEAD
h1{
font-family: Risque, cursive;
}
=======
html {
	background-color: #eee;
}

body {
	width: 70%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px 40px;
	border: 1px solid #ddd;
	font-family: Verdana, sans-serif;
	
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	background-image: url(d.png);
	background-repeat:no-repeat;
	background-size: cover;
}

header h1 {
	font-size: 30px
}

nav ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

nav li {
	display: inline;
}

header a:link {color: #fff}
header a:visited {color: #fff}
header a:hover {color: #fff}
header a:focus {color: #fff}
header a:active {color: #fff}

table {	
	width: 100%;	
}

thead th {
	border-bottom: 2px solid #ccc;
	text-align:left;
}

td,
th {
	padding: 3px 0;
}

tbody tr {
	background-color: #eee;	
}

tbody tr:nth-child(even) {
	background-color: #bbb;
}

a:link {color: red;}
a:visited {color: red}
a:hover {color: red}
a:focus {color: red}
a:active {color: red}
>>>>>>> original/master
